[Unit]
Description=PWM Fan Control

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/lib/raspberry-gpio-fanctrl/bin/fanctrl.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

